* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: "light dark";
  --color: black;
  --background-color: #eee;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: black;
    background-color: #eee;
  }
}
body {
  background-color: var(--background-color);
  color: var(--color);
}
